{
  "prod": {
    "userPool": {
      "userPoolName": "sennovate-plus-prod",
      "domainPrefix": "sennovateplus",
      "appClient": {
        "callbackUrls": [
          "https://plus.sennovate.com/api/auth/callback/cognito",
          "https://sennovate-plus-next.vercel.app/api/auth/callback/cognito"
        ],
        "logoutUrls": [
          "https://plus.sennovate.com",
          "https://sennovate-plus-next.vercel.app"
        ]
      },
      "oidc": {
        "clientId": "",
        "clientSecret": "",
        "issuerUrl": "https://aax0809.my.idaptive.app/sennovateplus",
        "name": "Sennovate"
      }
    }
  },
  "dev": {
    "userPool": {
      "userPoolName": "sennovate-plus-dev",
      "domainPrefix": "sennovate-plus-dev",
      "appClient": {
        "callbackUrls": [
          "http://localhost:3000/api/auth/callback/cognito",
          "https://sennovate-plus-next-git-dev-shobhan-biswas-projects-679b9bb7.vercel.app/api/auth/callback/cognito"
        ],
        "logoutUrls": [
          "http://localhost:3000",
          "https://sennovate-plus-next-git-dev-shobhan-biswas-projects-679b9bb7.vercel.app"
        ]
      },
      "oidc": {
        "clientId": "82aba363-74c6-472f-8251-1abb45694e11",
        "clientSecret": "5XT8Q~ene4OOCmZEZ2hQmPEXFA1YzOZM.j2FCdaB",
        "issuerUrl": "https://login.microsoftonline.com/cfb6085a-e0f9-42b7-a0f5-5998c737df4a/v2.0",
        "name": "sennovate-dev"
      }
    }
  }
}
