{
  "prod": {
    "userPool": {
      "userPoolName": "sennovate-plus-prod",
      "domainPrefix": "sennovateplus",
      "appClient": {
        "callbackUrls": [
          "https://plus.sennovate.com/api/auth/callback/cognito",
          "https://sennovate-plus-next.vercel.app/api/auth/callback/cognito"
        ],
        "logoutUrls": [
          "https://plus.sennovate.com",
          "https://sennovate-plus-next.vercel.app"
        ]
      },
      "oidc": {
        "clientId": "",
        "clientSecret": "",
        "issuerUrl": "https://aax0809.my.idaptive.app/sennovateplus",
        "name": "Sennovate"
      }
    }
  },
  "dev": {
    "userPool": {
      "userPoolName": "sennovate-plus-dev",
      "domainPrefix": "sennovate-plus-dev",
      "appClient": {
        "callbackUrls": [
          "http://localhost:3000/api/auth/callback/cognito",
          "https://sennovate-plus-next-git-dev-shobhan-biswas-projects-679b9bb7.vercel.app/api/auth/callback/cognito"
        ],
        "logoutUrls": [
          "http://localhost:3000",
          "https://sennovate-plus-next-git-dev-shobhan-biswas-projects-679b9bb7.vercel.app"
        ]
      },
      "oidc": {
        "clientId": "",
        "clientSecret": "",
        "issuerUrl": "https://aad4615.my.idaptive.app/sennovatePlus",
        "name": "sennovate-dev"
      }
    }
  }
}
